body {
  margin: 0px;
  padding: 0px;
}

/* Header Section */
header {
  padding: 2em;
  text-align: center;
  background-color: #f8f8f8;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

img {
  display: block;
}

/* typography */
h1, h2, h3 {
  margin-top: 0em;
}

header h1 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: 700;
}

header h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}

p {
  color: #1792d2;
  font-size: 0.75rem;
}

/* Header Layout */
.headercontainer {
  width: 90%;
  max-width: 1000px;
  margin: 0em auto;
}

.headercontainerflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 793px) {
  .headercontainerflex {
    flex-direction: row;
  }

  .logo {
    margin: 0em;
    width: 5%;
  }

  header h1 {
    margin-bottom: 0em;
  }
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em;
}

nav li {
  margin: 0.5em 0;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
}

.currentpage {
  border-bottom: 2px solid #000000;
}

.currentpage:hover {
  color: #000000;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

@media (min-width: 793px) {
  nav ul {
    flex-direction: row;
  }

  nav li {
    margin-left: 2em;
  }
}
