body {
  margin: 0px;
  padding: 0px;
}

/* Header Section */
header {
  padding: 2em;
  text-align: center;
  background-color: #f8f8f8;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 2em;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  display: block;
}

/* typography */
h1, h2, h3 {
  margin-top: 0em;
}

p {
  color: #707070;
  font-family: 'Ubuntu', sans-serif;
}

header h1 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: 700;
}

header h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0em;
}

header p {
  color: #1792d2;
  font-size: 0.75rem;
}

/* Header Layout */
.headercontainer {
  width: 90%;
  max-width: 950px;
  margin: 0em auto;
}

.headercontainerflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 793px) {
  .headercontainerflex {
    flex-direction: row;
  }

  .logo {
    margin: 0em;
    width: 5%;
  }

  header h1 {
    margin-bottom: 0em;
  }
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em;
}

nav li {
  margin: 0.5em 0;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
}

.currentpage {
  border-bottom: 2px solid #000000;
}

.currentpage:hover {
  color: #000000;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

@media (min-width: 793px) {
  nav ul {
    flex-direction: row;
  }

  nav li {
    margin-left: 2em;
  }
}

/* main-container-layout*/
.main-container {
  width: 90%;
  max-width: 900px;
  margin: 0em auto;
}

.main-container-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 793px) {
  .main-container-nav {
    flex-direction: row;
  }

  .article-box {
    width: 65%
  }

  .side-widget-box {
    width: 30%;
  }
}

.main-article {
  margin-bottom: 1.75em;
}

.main-article-image {
  width: 100%;
  order: -2;
}

.main-article-caregory {
  color: #ffffff;
  border: solid 2px #000000;
  background-color: #000000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  width: 10%;
  padding: 0.5em;
  border-radius: 5px;
  order: 0;
}

.main-article-info {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  order: -1;
  margin-bottom: 0.5em;
}

.main-article-title {
  font-size: 1.75rem;
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #000000;
  order: 1;
  margin-bottom: 0.3em;
}

.main-article-body {
  font-size: 1.1rem;
  font-weight: 400;
  order: 2;
  margin-bottom: 0.3em;
}

.main-article-readmore {
  order: 3;
}

.main-article-readmore a {
  text-decoration: none;
  font-size: 0.85rem;
  color: #1792D2;
  font-weight: light;
  text-transform: uppercase;
}

.main-article-readmore a:hover,
.main-article-readmore a:focus {
  color: #143774;
  text-decoration: underline;
}

.featured-article-main-box-title {
  color: #000000;
  font-weight: 500;
  font-family: 'Lora', serif;
  font-size: 1.75rem
}

.featured-article-box-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 793px) {
  .featured-article-box-flex {
    flex-direction: row;
  }

  .featured-article-column {
    width: 48%;
  }
}

.featured-article {
  margin-bottom: 0.5em;
  padding: 0.2em;
}

.featured-article-title {
  font-size: 1.2rem;
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0.3em;
  order: 0;
}

.featured-article-body {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.3em;
  order: 1;
}

.featured-article-img {
  width: 100%;
  order: -2;
}

.featured-article-info {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  order: -1;
  margin-bottom: 1em;
  line-height: 1em;
}

.featured-article-category {
  color: #ffffff;
  border: solid 2px #000000;
  background-color: #000000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  width: 10%;
  padding: 0.2em;
  border-radius: 5px;
}

.featured-article-readmore {
  order: 2;
}

.featured-article-readmore a {
  text-decoration: none;
  font-size: 0.85rem;
  color: #1792D2;
  font-weight: light;
  text-transform: uppercase;
}

.featured-article-readmore a:hover,
.featured-article-readmore a:focus {
  color: #143774;
  text-decoration: underline;
}

/*side-widget-box*/
.side-widget-box {}

/*about-me-section*/
.about-me-section {
  text-align: center;
  border: 1px solid #707070;
  padding: 0.5em;
}

.about-me-section-flex {
  display: flex;
  flex-direction: column;
}

.about-me-section-title {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 500;
  order: -1;
}

.about-me-body {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.3em;
  order: 0;
}

.about-me-img {
  width: 50%;
  margin: 1em auto;
  order: -2;
}

.about-me-bio {
  width: 35%;
  margin: 1em auto;
  border-radius: 3px;
  border: 1px solid #dfd3c3;
  background-color: #dfd3c3;
  order: 1;
}

.about-me-bio:hover {
  background-color: #c7b198;
}

.about-me-bio p {
  font-size: 0.9em;
  color: #000000;
  font-weight: 400;
}

.contactmesection-flex {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 1em auto;
  order: 2;
}

.contact-icon {
  width: 20%;
}

.contact-icon img {
  width: 100%;
  margin: auto;
}

/*popular-post*/
.popular-posts-box {
  text-align: left;
  padding: 0.5em;
  margin-top: 2em;
}

.popular-posts-box h3 {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: solid 1px #707070;
  padding-bottom: 0.5em;
}

.popular-post {
  margin-top: 0em;
}

.popular-post-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popular-post-body-box {
  width: 65%;
  order: 1;
}

.popular-post-img-box {
  width: 30%;
  order: 0;
}

.popular-post-img-box img {
  width: 100%;
  margin: 1.8em 0em;
}

.popular-post-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}
